/* Reset styles */
* {
    margin: 0;
    padding: 0;
}

/* กล่องทั้งหมด */
.box {
    height: 100%;
    width: 100%;
    background-image: url('../image/banna.gif'); /* นำกลับมา */
    background-size: cover;
    background-position: center;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ช่องเว้นว่าง */
.bor {
    width: 100%;
    height: 320px;
    margin-bottom: 20px;
}

/* รูปภาพ */
.b1 {
    display: block;
    width: 100%;
}

/* ช่องข้อความค้นหา */
.p1 {
    width: 100%;
    height: 4.5rem;
    border-radius: 2rem;
    background-color: #D9E5FE;
    border: 2px solid #4E93EA;
    margin-top: 12px;
    padding: 0 2rem;
    text-align: center;
}

/* ข้อความกระพริบ */
.blinking {
    margin-bottom: 1rem; /* ลดช่องว่างใต้ข้อความ */
    animation: blink 1s infinite;
    text-align: center;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* ปุ่ม */
.btns {
    margin-top: 1rem; /* ลดช่องว่างด้านบนปุ่ม */
    width: 100%;
    height: 4.5rem;
    background-color: #4fc866;
    border-radius: 2rem;
    text-align: center;
    line-height: 4.5rem;
    color: #ffffff;
    cursor: pointer;
}

/* ปรับความสูงของ .bor สำหรับหน้าจอขนาดเล็ก */
@media (max-width: 400px) {
    .bor {
        height: 270px;
    }
}

@media (max-width: 360px) {
    .bor {
        height: 220px;
    }
}

@media (max-width: 300px) {
    .bor {
        height: 190px;
    }
}
